/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  max-width: 100%;
}

#about img{
  margin-bottom: 10px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  /* Display label and input in a single row */
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
  text-align: center;
}

/* Styling navigation */
header nav {
  display: flex;
  justify-content: center;
}

/* Styling unordered list */
header nav ul {
  /* Display navigation in a single row */
  display: flex;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 75%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
/* Desktop View */
@media all and (min-width: 768px) {
  /* -------Logo & Navigation------- */
  /* Display logo and navigation in a single row */
  header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    text-align: left;
    padding-top: 0;
  }

  header nav {
    margin-top: 0;
  }

  header nav ul {
    padding: 10px;
  }

  /* ------Search Form------- */
  /* Display form elements horizontally */
  form {
    display: flex;
  }

  /* Place input under lable */
  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* -------- About Section --------*/
  /* Align the items in the "About" & "host" section */
  .container,
  .host {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image{
    max-width: 25%;
    margin-right: 10px;
  }

  /* ----------Idea Section-------- */
  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  /* Creat a 2 by 2 image grid */
  .row-1-col-1,
  .row-1-col-2,
  .row-2-col-1,
  .row-2-col-2 {
    flex-basis: 50%;
  }

  .grid img {
    max-width: 98%;
  };

  /* ---------Host Section---------*/
  .become-a-host {
    flex-direction: column;
  }

  .host-image {
    max-width: 50%;
  }
}
